<div id="container">
  <h2>Welcome to your <span>Todo List!</span></h2>
</div>

<script charset="utf-8">
  if (getCookie('user_api_token')) {
    renderTodosPage();
  } else {
    renderNavBar(false);
  }
</script>
