<%= link_to 'Create a Task', new_user_todo_path(current_user), id: 'create_task_link' %>

<div id="container">

<h2 id='todo_list_title'> Your Tasks: </h2>
<div id="todo_title_border"></div>
<ul id='todo_list'>
  <% @user.todos.each do |todo| %>
  <li><input type="checkbox" id=<%= todo.id %> > <%= link_to '', edit_user_todo_path(current_user, todo), class: 'fa fa-pencil' %> <%= todo.description %></li>
  <% end %>
</ul>

</div>
