#create_task_link {
  position: absolute;
  top: 35px;
  left: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  text-decoration: none;
  color: #fff;
  background-color: #88bbd4;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
}

body {
  margin-top: 100px;
}

#container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  background-color :#ddeef6;
  border-radius: 5px;

  // border gradients
  border-top: 3px solid #438FB5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#438FB5), to(transparent));
  background-image: -webkit-linear-gradient(#438FB5, transparent);
  background-image:
  -moz-linear-gradient(#438FB5, transparent),
  -moz-linear-gradient(#438FB5, transparent);
  background-image:
  -o-linear-gradient(#438FB5, transparent),
  -o-linear-gradient(#438FB5, transparent);
  background-image:
  linear-gradient(#438FB5, transparent),
  linear-gradient(#438FB5, transparent);
  -moz-background-size: 3px 100%;
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}

#todo_list_title {
  color: #438FB5;
}

#todo_title_border {
  height: 3px;
  width: 275px;
  margin: 0 auto;
  background-image: radial-gradient(rgba(100,100,100,0.5), #438FB5 30%, rgba(200,200,200,0.03) 80%);
}

#todo_list {
  text-align: left;
}

#todo_list li {
  list-style-type: none;
  color: #114B67;
}

#todo_list a {
  text-decoration: none;
  color: rgb(41, 120, 187);
  padding: 5px;
}
